<div class="card-header ps-5 pt-4 pb-4">
    <h5 class="mb-0"><i class="fa-solid fa-user-plus me-3"></i>Registro de un nuevo comentario</h5>
</div>
<div class="card-body p-5">
    
    <form #f="ngForm" class="mt-3" (ngSubmit)="crearComentario()">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label for="codigoCliente">Codigo del cliente: </label>
                    <input #codigoCliente="ngModel" class="form-control"
                        [ngClass]="codigoCliente.invalid && codigoCliente.dirty ? 'is-invalid' : ''" type="text"
                        class="form-control" name="codigoCliente" [(ngModel)]="registroComentarioDTO.codigoCliente"
                        id="codigoCliente">
                </div>
                <div class="col-md-6">
                    <label for="codigoNegocio">Codigo del negocio: </label>
                    <input #codigoNegocio="ngModel" class="form-control"
                        [ngClass]="codigoNegocio.invalid && codigoNegocio.dirty ? 'is-invalid' : ''" type="text"
                        name="codigoNegocio" [(ngModel)]="registroComentarioDTO.codigoNegocio" id="codigoN" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3 mt-3">
                    <label class="col-sm-2 col-form-label" for="message">Escriba su mensaje: </label>
                    <div class="col-sm-10">
                        <textarea #mensaje="ngModel" class="form-control" [ngClass]="mensaje.invalid && 
                        mensaje.dirty ? 'is-invalid' : ''" type="text" name="mensaje"
                            [(ngModel)]="registroComentarioDTO.mensaje" maxlength=200 id="message" required></textarea>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label class="col-sm-2 col-form-label" for="dateMessage">Fecha del mensaje: </label>
                    <div class="col-sm-10">
                        <input #fechaMensaje="ngModel" class="form-control" [ngClass]="fechaMensaje.invalid && 
                    fechaMensaje.dirty ? 'is-invalid' : ''" type="time" name="fechaMensaje"
                            [(ngModel)]="registroComentarioDTO.fechaMensaje" id="dateMessage" required />
                    </div>
                </div>
            </div>
        </div>



        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="response">Escriba su respuesta: </label>
            <div class="col-sm-10">
                <textarea #respuesta="ngModel" class="form-control" [ngClass]="respuesta.invalid && 
                    respuesta.dirty ? 'is-invalid' : ''" type="text" name="respuesta"
                    [(ngModel)]="registroComentarioDTO.respuesta" maxlength=200 id="response" required></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label" for="dateResponse">Fecha de la respuesta: </label>
            <div class="col-sm-10">
                <input #fechaRespuesta="ngModel" class="form-control" [ngClass]="fechaRespuesta.invalid && 
                fechaRespuesta.dirty ? 'is-invalid' : ''" type="time" name="fechaRespuesta"
                    [(ngModel)]="registroComentarioDTO.fechaRespuesta" id="dateResponse" required />
            </div>
        </div>
        <div class="row justify-content-lg-end ">
            <button class="btn btn-success btn-lg" type="submit" [disabled]="f.invalid">
                <i class="fa-solid fa-circle-plus me-1"></i>Comentar
            </button>
        </div>

    </form>
</div>